<phpunit>
  <testsuites>
    <testsuite name="Design_Pattern">
        <directory>tests/flyweight/fluffycat_com</directory>
    </testsuite>
  </testsuites>
</phpunit>
        <!--        
<phpunit colors="true"
        processIsolation="true"
        verbose="true"
        debug="true">
        <directory>tests/composite/fluffycat_com</directory>
        <directory>tests/strategy/fluffycat_com</directory>
        <directory>tests/bridge/fluffycat_com</directory>
        <directory>tests/adapter/fluffycat_com</directory>
        <directory>tests/facade/fluffycat_com</directory>
                    <file>tests/factory/php_the_right_way/FactoryTest.php</file>
                    <file>tests/chain_of_responsibility/fluffycat_com</file>
         -->
