<phpunit>
  <testsuites>
    <testsuite name="Design_Pattern">
<!--
        <directory>tests/abstract_factory/fluffycat_com</directory>
        <directory>tests/adapter/fluffycat_com</directory>
        <directory>tests/factory_method/fluffycat_com</directory>
        <directory>tests/mediator/fluffycat_com</directory>
        <directory>tests/state/fluffycat_com</directory>
-->
        <directory>tests/template/fluffycat_com</directory>
    </testsuite>
  </testsuites>
</phpunit>
        <!--        
        <directory>tests/command/fluffycat_com</directory>
<phpunit colors="true"
        processIsolation="true"
        verbose="true"
        debug="true">
        <directory>tests/flyweight/fluffycat_com</directory>
        <directory>tests/composite/fluffycat_com</directory>
        <directory>tests/strategy/fluffycat_com</directory>
        <directory>tests/bridge/fluffycat_com</directory>
        <directory>tests/adapter/fluffycat_com</directory>
        <directory>tests/facade/fluffycat_com</directory>
                    <file>tests/factory/php_the_right_way/FactoryTest.php</file>
                    <file>tests/chain_of_responsibility/fluffycat_com</file>
         -->
